@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
  background-color: #f6f5f1;
}

/* header and Navbar */

.header-navbar {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding-top: 10px;
  width: 980px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  color: #17392f;
}

.navbar ul {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin-right: 180px;
}

.navbar ul li a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #44665f;
  position: relative;
  transition: all 0.4s;
}

.navbar ul li a::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #fe9e6b;
  border-radius: 5px;
  position: absolute;
  bottom: -3px;
  left: 0;
  opacity: 0;
  transition: all 0.4s;
  pointer-events: none;
}

.navbar ul li a:hover::after {
  opacity: 1;
}

.browse-recipes-1 a {
  text-decoration: none;
  background-color: #173a34;
  color: #e2f0ee;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: small;
}

/* Container 1 styles */

.container-1 {
  margin: 0 auto;
  width: 850px;
}

/* Main Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #133c33;
}

p {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #3e5b55;
}

main {
  display: block;
  margin: 0 auto;
  width: 900px;
}

/* Main hero 1 styles */

.hero-1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 850px;
}

.hero-1 div h1 {
  font-size: 3.5rem;
  margin-bottom: 8px;
  background: linear-gradient();
}

.hero-1 div p {
  font-size: 15px;
  margin-bottom: 16px;
  text-align: center;
  margin: 0 auto;
  width: 53%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.hero-1 a {
  text-decoration: none;
  color: white;
  background-color: #173a34;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-size: small;
  margin-right: 20px;
}

.pattern-squiggle-image img {
  width: 2200px;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%) translateY(-35%);
  left: 550px;
}

.hero-1 .Home-hero-image img {
  width: 400px;
  height: 400px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  width: 100%;
  border: 15px solid #ffffff;
}

.hero-1 .Home-hero-image img {
  border-radius: 20px;
}

/* Main hero 2 styles */

.hero-2 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}

.hero-2-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
}

.hero-2-content img {
  padding: 10px 10px;
  margin-bottom: 10px;
  width: 70px;
  height: 60px;
  border-radius: 10px;
  background-color: #ffffff;
}

.hero-2-content p {
  text-align: justify;
  width: 85%;
}

/* Main hero 3 styles */

.hero-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 70px;
  width: 850px;
}

.hero-3-content {
  text-align: center;
  width: 45%;
}

.hero-3-content h2 {
  text-align: start;
  margin-bottom: 10px;
}

.hero-3-content p {
  text-align: justify;
  width: 90%;
}

.hero-3-image img {
  width: 470px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
  border-radius: 8px;
}

/* Main ready to cook styles */

.ready-to-cook {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  width: 100%;
  height: 300px;
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: #e8ede7;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.ready-to-cook-smarter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  width: 60%;
  position: relative;
}

.ready-to-cook-smarter h2 {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 85px;
}

.ready-to-cook-smarter p {
  text-align: justify;
  width: 100%;
  font-size: small;
  text-align: center;
  color: #4b665e;
}

.cook-browse-recipes a {
  text-decoration: none;
  color: white;
  background-color: #173a34;
  margin: 0 auto;
  width: 80%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  position: relative;
  top: 20px;
  right: 15px;
  font-size: small;
}

.ready-to-cook-image-1 img {
  width: 27%;
  height: auto;
  position: absolute;
  right: 670px;
  top: 6%;
}

.ready-to-cook-image-2 img {
  width: 30%;
  height: auto;
  position: absolute;
  left: 655px;
  top: 6%;
}

/* Footer styles */

footer {
  display: flex;
  justify-content: space-between;
}

footer p {
  margin-bottom: 20px;
  color: #24453d;
}

footer div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

/* Container 2 styles */

.container-2 {
  margin: 0 auto;
  width: 850px;
  max-width: 5000px;
}

/* About hero styles */

.about-hero {
  display: flex;
  margin: 0 auto;
  width: 100%;
  margin-top: 50px;
}

/* About hero 1 styles */

.about-hero-1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
}

.about-hero-1 h4 {
  padding: 3px 3px;
  background-color: #ffa06a;
  border-radius: 5px;
}

.about-hero-1 h2 {
  width: 67%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

.about-hero-1 p {
  width: 90%;
  margin-top: 10px;
  line-height: 1.3rem;
  font-size: small;
}

.about-hero-image .image-1 {
  width: 90%;
  height: 80%;
  border-radius: 20px;
}

.about-hero-image .image-2 {
  position: relative;
  bottom: 240px;
  left: 330px;
}

/* About hero 2 styles */

.about-hero-2 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.about-hero-2-content-1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.about-hero-2-content-2 {
  display: flex;
  justify-content: first baseline;
  align-items: flex-start;
  width: 60%;
  margin-top: 30px;
  flex-direction: column;
}

.about-hero-2-content-2 .about-hero-2-content-2-item-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 90%;
}

.about-hero-2-content-2-item-1-text-1 p {
  font-size: small;
  margin-top: 7px;
}

.about-hero-2-content-2-item-1-image-1 img {
  margin-right: 10px;
  width: 30px;
  position: relative;
  bottom: 8px;
}

/* About hero 3 styles */

.about-hero-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 75px;
}

.about-hero-3-content-1 h2 {
  text-align: start;
}

.about-hero-3-content-2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}

.about-hero-3-content-2-item-1 {
  display: flex;
  width: 76%;
  margin-bottom: 20px;
}

.about-hero-3-content-2-item-1-image-1 img {
  margin-right: 10px;
  width: 30px;
  position: relative;
  bottom: 8px;
}

.about-hero-3-content-2-item-1-text-1 p {
  text-align: justify;
  width: 90%;
  font-size: small;
}

/* About hero 4 styles */

.about-hero-4 {
  display: flex;
  justify-content: space-between;
}

.about-hero-4-content-1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}

.about-hero-4-content-1 div {
  width: 80%;
  margin-bottom: 10px;
}

.about-hero-4-content-1 h2 {
  margin-bottom: 10px;
}

.about-hero-4-content-1 ul {
  margin-left: 20px;
  width: 80%;
}

.about-hero-4-content-1 p {
  font-size: small;
}

.about-hero-4-image img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  margin-left: 20px;
}

/* Container 3 styles */

.container-3 {
  margin: 0 auto;
  width: 850px;
}

/* recipe-hero styles */

.recipe-hero {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.recipe-hero h2 {
  font-size: xx-large;
}

.recipe-hero p {
  width: 490px;
  height: fit-content;
  text-align: center;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* recipe-hero-1 styles */

.recipe-hero-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 850px;
  margin-bottom: 20px;
  flex-direction: row;
}

.recipe-hero-1-content-2 div img {
  width: 15px;
  position: relative;
  left: 25px;
  bottom: 3px;
}

.recipe-hero-1-content-2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 195px;
}

.recipe-hero-1-content-2 input {
  border-radius: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 10px;
  width: 100%;
  border: 2px solid #193a33;
  font-size: x-small;
}

.recipe-hero-1-content-1 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.recipe-hero-1-item {
  padding: 7px 5px;
  border: none;
}

.recipe-hero-1-item .recipe-hero-1-item-1 {
  padding: 7px 5px;
}

/* recipe-hero-2 styles */

.recipe-hero-2 {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  max-width: 850px;
  margin-bottom: 40px;
  height: 920px;
  margin-left: 10px;
}

.figure-figcaption-1 {
  display: flex;
  gap: 10px;
  width: calc((100% / 3) - 20px);
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: 7px solid #ffffff;
  border-color: 1px solid red;
  height: fit-content;
  border-radius: 10px;
}

.figure-figcaption-1 > div img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.figure-figcaption-1 p {
  font-size: x-small;
}

.figure-figcaption-1-content .figcaption img {
  width: 8%;
  display: flex;
  margin-top: 3px;
  column-gap: 10px;
}

.figcaption {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 7px;
  width: 70%;
}

.figure-figcaption-1 h3 {
  font-size: small;
  margin-top: 5px;
}

.figure-figcaption-1-content p,
img {
  font-size: 10px;
  margin-top: 5px;
}

.figure-figcaption-content {
  background-color: #163b34;
  padding: 5px 5px;
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure-figcaption-content a {
  text-decoration: none;
  color: white;
}

.dropdown-radio {
  position: relative;
  display: inline-block;
}

.dropdown-radio-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border: 1px solid #ccc;
  z-index: 1;
  padding: 10px;
}

.dropdown-radio:hover .dropdown-radio-content {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.dropdown-radio-content label {
  display: block;
  margin-bottom: 5px;
}

button i img {
  width: 15px;
  margin-left: 6px;
  position: relative;
  top: 3px;
  right: 5px;
}

button {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ffffff;
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
}

.button-coner {
  padding-top: 4px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border: hidden;
  border: 1px solid rgb(213, 208, 208);
}

.dropdown-radio-content label {
  margin-left: 5px;
}

.dropdown-radio-content button {
  display: flex;
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 20px;
  font-size: medium;
  border: none;
}

.dropdown-radio-content button:hover,
button:active {
  border: 1px solid gray;
  border-radius: 5px;
}

.dropdown-radio label input {
  padding: 5px 5px;
  border-radius: 6px;
}

.clear-btn {
  border: 2px solid gray;
  border-radius: 5px;
}

/* Phone Styles */

@media (max-width: 600px) {
  .container-1 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: medium;
  }

  .logo img {
    font-size: small;
    width: 100%;
  }

  .container-2 {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .container-3 {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .header-navbar {
    width: 100%;
    font-size: large;
  }

  .navbar {
    width: 100%;
  }

  body {
    width: 850px;
    height: auto;
    margin: 0 auto;
  }

  main {
    width: 850px;
    height: auto;
    margin: 0 auto;
  }

  footer {
    width: 850px;
    height: auto;
  }
}

/* Tablet Styles */

@media (max-width: 768px) {
  .container-1 {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .container-2 {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .container-3 {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  body {
    width: 100%;
  }

  main {
    width: 850px;
    margin: 0 auto;
  }
}

/* Laptop Styles */

@media (max-width: 1024px) {
  .container-1 {
    width: 100%;
    height: auto;
  }

  .container-2 {
    width: 100%;
    height: auto;
  }

  .container-3 {
    width: 100%;
    height: auto;
  }

  body {
    width: 100%;
  }

  main {
    width: 850px;
  }
}
